*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(bg3.png) no-repeat;
    background-size: cover;
}

.clock{
   width: 100%;
   max-width: 440px;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 0px 20px rgb(0, 7, 1);
   height: 20vh;
   border-radius: 20px;
   color: #ceefd0;
   z-index: 2;
}
.clock h1{
    font-size: 4rem;
    font-weight: 600;
}
.clock span{
    position: relative;
    top: -12%;
    margin-left: 4px;
    font-weight: 700;
    font-size: 20px;
}

@media screen and (max-width:400px) {
    .clock{
        max-width: 260px;
        padding: 5px;
    }
    .clock h1{
        font: 1.9rem;
    }
}
@media screen and (min-width:240px) and (max-width:400px) {
    .clock{
        max-width: 260px;
        padding: 5px;
    }
    .clock h1{
        font: 1.5rem;
    }
}